//
// Layout Config
//

// Root Font Sizes
$root-font-size: 14px;

// [REV] added this variable after delete bootstrap
$font-weight-base: 400;

// Layout Theme Colors
$layout-themes: (
	light: #ffffff // Light theme color
) !default;

// Page Background Color
$page-bg:	 										#EEF0F8 !default;

// Page Paddings
$page-padding: (
	desktop: 25px, // Padding for desktop mode
	tablet-and-mobile: 15px // Padding for tablet and mobile modes
) !default;

// Header
$header-config: (
	// Desktop Mode
	desktop: (
		// Default Mode
		default: (
			height: 65px
		),
		// Fixed Mode
		fixed: (
			zindex: 97,
			height: 65px
		)
	)
) !default;
