//
// Popover
//


// Base
.popover {
    .popover-header {
        font-size: '12px';
        font-weight: 2;
        border-bottom: 1px solid #ff4444;
    }


    &.bs-popover-right {
        margin-right: auto;
        margin-left: '10px';

        > .arrow {
            right: auto;
            left: '10px';

            &::before {
                right: auto;
                left: 0;
                border-width: '10px';
                border-right-color: #ff4444;
            }

            &::after {
                right: auto;
                left: '10px';
                border-width: '10px';
                border-right-color: #ff4444;
            }
        }
    }

    &.bs-popover-left {
        margin-left: auto;
        margin-right: '10px';

        > .arrow {
            left: auto;
            right: '10px';

            &::before {
                left: auto;
                right: 0;
                border-width: '10px';
                border-left-color:  #ff4444;
            }

            &::after {
                left: auto;
                right: '10px';
                border-width: '10px';
                border-left-color:  #ff4444;
            }
        }
    }
}
